AIRFLOW_UID=50000
AWS_DEFAULT_REGION=us-east-1
AWS_PROFILE=default
NYCTX_S3_BUCKET=nyc-taxi-lakehouse-tntk
NYCTX_GLUE_JOB_NAME=glue-silver-yellow-taxi
NYCTX_ATHENA_WORKGROUP=wg_nyc_taxi_lakehouse
NYCTX_ATHENA_OUTPUT_LOCATION=s3://nyc-taxi-lakehouse-tntk/athena-results/
NYCTX_ATHENA_DATABASE=nyc_taxi_lakehouse
NYCTX_ATHENA_SILVER_TABLE=silver_yellow_taxi
NYCTX_DBT_ATHENA_WORKGROUP=wg_nyc_taxi_dbt
NYCTX_DBT_ATHENA_OUTPUT_LOCATION=s3://nyc-taxi-lakehouse-tntk/athena-results/dbt/
NYCTX_DBT_GOLD_S3_BASE=s3://nyc-taxi-lakehouse-tntk/gold
